@import url("https://fonts.googleapis.com/css?family=Proxima+Nova");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");
body {
    font-family: "proxima-nova", sans-serif;
}

:root {
    --primary: #FCBF1C;
    --lightPrimary: #4da3ff;
    --primaryAction: #FCBF1C;
    --primaryHover: #b68a13;
    --secondary: #3a3a3a;
    --secondarylight: #bfbfbf;
    --light: #fff;
    --darkBlue: #041c3c;
    --dark: #182333;
    --dark2: #0e141d;
    --red: #fa0d1c;
    --black:#232323;
    --orange: #db8f03;
    --lightgray:#7f7f7f;
}

::selection {
    background: var(--primaryAction);
    color: #fff;
}

 ::-webkit-scrollbar-track {
    background-color: var(--black);
}

 ::-webkit-scrollbar {
    width: 10px;
    background: var(--black);
}

 ::-webkit-scrollbar-thumb {
    background: var(--primaryAction);
}

a {
    color: var(--secondary);
}

a:hover {
    color: var(--primaryAction);
}

.small {
    color: var(--secondarylight) !important;
}

.text-primary {
    color: var(--primaryAction) !important;
}

.btn-primary {
    background-color: var(--primaryAction);
    border-color: var(--primaryAction);
    color:#000;
}

.btn-primary:hover {
    background-color: var(--primaryHover);
    border-color: var(--primaryHover);
    color:#000;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.bg-darkblue {
    background: #e9e9e9 !important;
}

.logobox {
    max-width: 110px;
}



/*** Button ***/

.btn {
    font-weight: 500;
    transition: 0.5s;
}

.btn.btn-primary,
.btn.btn-outline-primary:hover {
    color: #000;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/

.navbar.sticky-top {
    top: -100px;
    transition: 0.5s;
    margin-top:-0.1px;
}

.navbar .navbar-nav .nav-link {
    margin-left: 30px;
    padding: 25px 0;
    color: var(--secondary);
    font-weight: 550;
    text-transform: uppercase;
    outline: none;
    font-family: 'Rubik', sans-serif;
    font-size:14px;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav .nav-link {
        margin-left: 0;
        padding: 10px 0;
    }
    .navbar .navbar-nav {
        margin-top: 25px;
        border-top: 1px solid #eeeeee;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s;
    }
    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: 0.5s;
        opacity: 1;
    }
}

@media (max-width: 992px) {
    .countitemSMT {
        margin-bottom: 3em;
    }
    .countitemSMB {
        margin-bottom: 3em;
    }
    .infoitem {
        margin-bottom: 3em;
    }
}

@media (max-width:768px){
    .infoitem {
        margin-top: 3em;
    }
}


.dropdown-item:focus, .dropdown-item::selection, .dropdown-item:active, .dropdown-item:hover{
    background: var(--primary);
}

.mr-2{
    margin-right: 20px;
}

.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    text-align: start;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 15px solid transparent;
    border-radius: 50px;
}

.carousel-caption .breadcrumb-item+.breadcrumb-item::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "\f111";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--secondary);
}

.footerfim-sm {
    display: none;
}

.bg-gray{
    background:var(--secondary)
}

.bg-black{
    background:var(--black);
}

.bg-orange{
    background:var(--primaryAction);
}


.page-header {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.page-header .breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}

.infoicon {
    font-size: 2.4em;
    margin-bottom: 0.5em;
    color: var(--black);
}

.info-title {
    font-family: "Oswald", sans-serif;
    color:var(--black);
}

.divider {
    border-top: 4px solid var(--primary);
    width: 120px;
    margin: 1em auto;
    margin-bottom: 4em;
}

.divider-black {
    border-top: 6px solid var(--black);
    width: 120px;
    margin: 2em auto;
    margin-bottom: 4em;
}

/*

.homeslider {
  border-bottom: 20px solid #007bff;
}

.infos{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-image: url('../img/white-tech.jpg');
}*/

.infoitem>img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
    margin-bottom: 20px;
    margin-top: 5px;
}

.infoitem {
    font-size: 0.9em;
}

.maincall {
    background-color: var(--black);
}

.maincall-num,
.maincall-num-sm{
    color: var(--primary);
}

.maincall-desc{
    color: var(--light);
}

.maincall-num {
    font-family: "Oswald", sans-serif;
    font-size: 3.2em;
    font-weight: 700;
}

.maincall-num-sm {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    font-weight: 700;
}

.maincall-desc {
    font-size: 1.2em;
}

.countitem i {
    font-size: 2.2em;
    color: var(--primary);
    padding-right: 10px;

}


.text-underline-orange{
    padding-bottom: 20px;
    border-bottom:5px dashed var(--primary);
}



.boldlow {
    font-weight: 700;
}

.homeslider h1,
h2,
h3,
h3 {
    font-family: "Oswald", sans-serif;
}

.infoitem h5 {
    font-family: "Oswald", sans-serif;
}

.mainphrase {
    background-color: var(--secondary);
}

.mainphrase .mainphrase-title,
.mainphrase-text {
    color: var(--light);
}

.servicescard {
    padding: 30px;
    box-shadow: 0px 0 5px rgb(1 41 112 / 8%);
    -webkit-box-shadow: 8px 6px 17px 3px rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: 0.3s;
    height: 100%;
    background-color: var(--light);
    border-radius: 15px;
}

.clients .clients-slider .swiper-slide img {
    opacity: 0.5;
    transition: 0.3s;
}

.clients .clients-slider .swiper-slide img:hover {
    opacity: 1;
}

.clients .clients-slider .swiper-pagination {
    margin-top: 100px;
    position: relative;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #4154f1;
}

.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #4154f1;
}

.valoresimg img {
    float: right;
    max-width: 80%;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

.valorestext h1 {
    font-size: 2.7em;
    font-family: "proxima-nova", sans-serif;
    font-weight: 900;
}

.chamada {
    /*background-color: var(--darkBlue);*/
    background-image: url(../img/chamada-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.chamadatext h1, h2, h3, h4 {
    color: var(--light);
    font-family: "proxima-nova", sans-serif;
}

.fw-900 {
    font-weight: 900;
}

.fw-500 {
    font-weight: 500;
}

footer {
    background-color: var(--black);
}

.footerfim {
    background-color: var(--black);
}

.footerfim-sm {
    background-color: #111;
}

.list-unstyled li i {
    color: var(--light);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* ajuste o valor alpha para controlar a opacidade */
    z-index: 1;
}


@media (max-width: 1218px) {
    .navbar .navbar-nav .nav-link {
        font-size: 14px;
    }
    .logobox {
        max-width: 110px;
    }
}

/* ########## VIDEO SECTION ########## */
header {
    position: relative;
    background-color: black;
    height: 65vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

    header video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }

    header .container {
        position: relative;
        z-index: 2;
    }




.pilares{
    background-color: var(--black);
}

.pilar-item{
    padding:1.5em;
}

.text-black{
    color:var(--black)
}

.text-orange{
    color:var(--primaryAction)
}

.pi-icon{
    font-size:2.2em;
    vertical-align: middle;
    padding-right: 10px;
}

.titlepi{
    font-weight: 900;
}


.pi-text-low {
    font-size:1em;
    font-weight: 600;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
    color: white;
  }

  .centered-text h1 {
    font-size: 3em;
    font-weight: bold;
    color:var(--light)
  }

  .slide-main-text{
    font-size:2.8em;
  }

  .about-text-main{
    font-size:2.4em;
    font-weight: 900;
  }

  .about-text-up{
    font-size:1.3em;
  }

  
  .about-img img{
    border-radius: 7px;
  }

.about-box{
    border-radius: 1em;
    background-color: var(--black);
    border: 1em;
    -webkit-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
}


.slide-main-text-2{
    font-size:3.4em;
  }

.gallery{
    padding:2em;
}

.bott{
    width: 100%;
}

.divider-orange{
    margin: auto;
    max-width: 100px;
    border: 2px solid var(--primary);
    opacity: 1;
}

.divider-gray{
    margin: auto;
    max-width: 200px;
    border: 2px solid var(--lightgray);
    opacity: 1;
}

.divider-orange-left{
    margin-left: 0;
    max-width: 150px;
    border: 2px solid var(--primary);
    opacity: 1;
}

.nav-item.active a {
    color: var(--primary);
  }

  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: var(--primary);
}

.about-box h1{
    color:var(--black);
}

.about-box-info{
    background-color: var(--primary);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    -webkit-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -12px rgba(0,0,0,0.75);
}

.about-text{
    color:var(--black);
    font-weight: 600;
}

.lampicon{
    font-size: 5em;
    color: var(--primary);
}

.float-area{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
  }

  .floating-item{
    transform: translateY(-10%);
    animation: floater 1.5s infinite;
    transition: ease 0.5s;
    width: 80px;
    height:80px;
  }

  @keyframes floater {
    0%{transform: translateY(-10%);transition: ease 0.5s;}
    50%{transform: translateY(10%);transition: ease 0.5s;}
  }

  .mainc{
    font-size: 22px;
  }

  .maincicon{
    font-size:28px;
  }

.slim-menu a{
    font-size:1em;
    font-weight: 700;
}